@use 'utils' as u;

:root {
	--white: hsl(0, 0%, 100%);
	--grey900: hsl(217, 19%, 35%);
	--grey500: hsl(214, 17%, 51%);
	--grey400: hsl(212, 23%, 69%);
	--grey200: hsl(210, 46%, 95%);
}

//reset
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
/* add text presets */
@include u.text-presets();

body {
	display: grid;
	grid-template-rows: 1fr auto;
	font-family: 'Manrope', sans-serif;
	font-optical-sizing: auto;
	background-color: var(--grey200);
	height: 100vh;

	@media screen and (min-width: 768px) {
		align-items: center;
	}
}

.component-wrapper {
	background-color: var(--white);
	box-shadow: 0 40px 40px -10px #c9d5e1;
	border-radius: 10px;
	width: u.rem(327);
	max-height: u.rem(538);
	margin: auto;
	padding-bottom: u.rem(18);

	@media screen and (min-width: 768px) {
		display: grid;
		grid-template-columns: repeat(8, 1fr);
		width: u.rem(608);
		height: u.rem(346);
		padding-bottom: 0;
		margin-inline: auto;
	}

	@media screen and (min-width: 1440px) {
		width: u.rem(730);
		height: u.rem(280);
	}

	.content-wrapper {
		@media screen and (min-width: 768px) {
			grid-column: 4/-1;
		}
	}

	.banner {
		border-radius: 10px 10px 0 0;
		background-image: url(../images/drawers.jpg);
		background-size: cover;
		height: u.rem(200);

		@media screen and (min-width: 768px) {
			grid-column: 1/4;
			height: auto;
			border-top-right-radius: 0;
			border-bottom-left-radius: 10px;
		}

		@media screen and (min-width: 1440px) {
			height: u.rem(280);
			width: u.rem(285);
		}
	}

	header {
		margin-top: u.rem(32);
		margin-inline: u.rem(30);

		@media screen and (min-width: 768px) {
			margin-top: u.rem(41);
			margin-right: u.rem(36);
		}

		@media screen and (min-width: 1440px) {
			margin-left: u.rem(40);
		}
	}

	main {
		.intro {
			margin-top: u.rem(24);
			margin-inline: u.rem(30);

			@media screen and (min-width: 768px) {
				margin-right: u.rem(36);
			}

			@media screen and (min-width: 1440px) {
				margin-left: u.rem(40);
			}
		}
	}

	footer {
		display: grid;
		grid-template-columns: 40px auto 32px;
		justify-items: start;
		margin-top: u.rem(48);
		margin-inline: u.rem(30);

		@media screen and (min-width: 768px) {
			margin-top: u.rem(24);
			margin-bottom: u.rem(41);
			margin-right: u.rem(36);
		}

		@media screen and (min-width: 1440px) {
			margin-left: u.rem(40);
		}

		.avatar {
			width: 40px;
			height: 40px;
			border-radius: 50%;
		}
		.profile {
			margin-left: u.rem(16);
		}
		.date {
			grid-column: 2/3;
		}
		#share-container {
			position: relative;
			background-color: var(--grey900);
		}
		.share-links {
			position: absolute;
			display: flex;
			visibility: hidden;
			opacity: 0;
			justify-content: space-around;
			align-items: center;
			top: -10px;
			right: -30px;
			width: u.rem(327);
			background-color: var(--grey900);
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
			padding: u.rem(18) u.rem(24);
			transition: visibility 0s, opacity 450ms ease-in-out;

			&.active {
				opacity: 1;
				visibility: visible;

				@media screen and (min-width: 768px) {
					border-radius: 10px;
					width: u.rem(248);
					top: -80px;
					right: auto;

					&::after {
						content: '';
						position: absolute;
						bottom: -12px;
						width: 0px;
						height: 0px;
						border-style: solid;
						border-width: 12px 12px 0 12px;
						border-color: #48556a transparent transparent transparent;
						transform: rotate(0deg);
					}
				}
			}

			a.email-link {
				text-decoration: none;
				color: var(--grey400);

				&:hover {
					border-bottom: 1px dotted var(--grey400);
				}
			}
		}
		.share {
			background-color: var(--grey200);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			width: u.rem(32);
			height: u.rem(32);
			margin-left: auto;
			cursor: pointer;
		}

		#close-share {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 32px;
			height: 32px;
			border-radius: 50%;
			background-color: var(--grey500);

			@media screen and (min-width: 768px) {
				display: none;
			}

			svg {
				fill: var(--grey200);
			}
		}
	}
}

img {
	display: block;
	max-width: 100%;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}
